@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
  background-color: black;
  overflow: auto;
  overflow-x: hidden;
}

#logo{
  margin-top: -10vh;
  margin-left: 25px;
  display: relative;
}

#foot2{
  font-size: 17px;
  text-align: center;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 19px;
  padding: 30px;

  
}

#spotify{
  margin-right: 30px;
}

h2{
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
}

iframe{
  padding-top: 15px;
  width: 75vw;
  height: 40vh;
}

#centerVid{
  display: flex;
  align-items: center;
  justify-content: center;
}
#toLeft{
  margin-left: 30%;
}
.bodyTop{
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;
  display: block;
}
.bodyTop2{
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;
  height:400px ;
  width:100%;
  height:auto;
  padding:1%;
}

.topText{
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
}

#intro{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  /* display: inline-flex; */
  width: 45%;
}

#disclaim{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;

}
#logoBigLeft{
  height: auto;
  width: 200px;
  margin: auto;
  align-items: left;
  float:left; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 5vw;
}

u{
  text-decoration: none;
  line-height: 30px;
  border-bottom:1px solid rgb(215, 215, 215);
  color: rgb(215, 215, 215);
}

#disclaimTitle{
  font-family: 'DIN Condensed';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 48px;
display: block;
display: inline-block;
text-align: left;
  color: rgb(215, 215, 215);
}
#mhrTitle{
font-family: 'DIN Condensed';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 48px;
color: rgb(215, 215, 215);
}


#email{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10%;
  color: white;
  text-align: center;
}

#title{
  margin-top: 30vh;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 6px;

}
#space{
  margin-bottom: 100px;
}

a{
  text-decoration: none;
}