
@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
  background-color: black;
  overflow: auto;
}

#logo{
  margin-top: -10vh;
  margin-left: 25px;
  display: relative;
}

#foot2{
  font-size: 17px;
  text-align: center;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  /* padding-top: 40px; */
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 19px;
  padding: 30px;
}

button > #spotify,
button > span {
  vertical-align: middle;
}

#spotify{
  margin-right: 30px;
}

h2{
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
}

iframe{
  padding-top: 15px;
  width: 75vw;
  height: 40vh;
}

#centerVid{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyTop{
  /* width: 80%; */
  /* margin-left: 10%; */
  /* display: flex; */
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.topText{
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
}

#intro{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  display: inline-flex;
}

#disclaim{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;

}
#logoBigLeft{
  padding-right: 20%;
  padding-left: 10%;
  width: 15vw;
  height: auto;
}
u{
  text-decoration: none;
  line-height: 30px;
  border-bottom:1px solid white;
  /* padding-bottom:200px; */
}
#disclaimTitle{



  font-family: 'DIN Condensed';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 48px;
}
#mhrTitle{



  font-family: 'DIN Condensed';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 48px;
}
#accessButtonD{
  padding-right: 20px;
  text-align: center;

  vertical-align: top;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 
}

#email{
  font-size: 17px;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 10%;
  color: white;
  text-align: center;
}

#title2{
  margin-top: 30vh;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 6px;
}

a{
  text-decoration: none;
}