/* din condensed font */
@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');


.App {
  text-align: center;
}
body{

  background-color: black;
}
#logo{
margin-top: -10vh;
  display: relative;
}
#title{
  margin-top: 30vh;
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 6px;
}
h1{
  line-height: 5px;
}

#navigation{
  color: white;
  margin-right: 5vw;
  margin-top: 5vh;
  text-align:right;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}
#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 24px;
padding: 30px;

}
#subtitle{
  color: #8F8F8F;
  /* margin-top: 25vh; */
  font-size: 17px;
  letter-spacing: 5%;
  text-align: center;
  margin: auto;
  /* margin-right: auto; */
  width: 50%;
  font-family: roboto-slab,serif;
font-weight: 400;
font-style: normal;


}
button > #spotify,
button > span {
  vertical-align: middle;
}
#spotify{
  margin-right: 30px;
}
span{
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#accessButton{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: #61dafb;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
