
@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

body{
  background-color: black;
}

#logo{
  margin-top: -10vh;
  display: relative;
}

#center{
  margin: auto;
  width: 90%;
}
#makeMix{
  color: white;
  text-align: center;
  margin-top: 10vh;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255)(128, 128, 128, 0.493); 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #983FE0; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #983FE0; 
}

#title{
  margin-top: 15vh;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 6px;
  line-height: 60px;
  padding-bottom: 30px;
}

h1{
  line-height: 5px;
}

#navigation{
  color: white;
  margin-right: 5vw;
  margin-top: 5vh;
  text-align:right;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 19px;
  padding: 30px;
  width: 250px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
}

#subtitle{
  color: #8F8F8F;
  font-size: 15px;
  letter-spacing: 5%;
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: roboto-slab,serif;
  font-weight: 400;
  font-style: normal;
}

button > #spotify,
button > span {
  vertical-align: middle;
}

#spotify{
  margin-right: 30px;
}

span{
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#accessButton{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a{
  text-decoration: none;
  color: white;
}