@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body{
  background-color: black;
}
html, body {
  height: 100%;
  /* z-index: 200; */
  margin-top: 0px;
  overflow: hidden;

}

#fullbody{
  z-index: 2000;
  position: absolute;
  width: 100vw;
  height:100vh
}
#threeJS{
  z-index: -2000;
  position: absolute; 
}
.title{
  margin-top: 33vh;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 6px;
  
}

h1{
  line-height: 5px;
}

p{
    color: rgb(128, 128, 128);
    font-size: 16px;
    text-align: center;
    margin: auto;
    font-family: roboto-slab,serif;
    font-weight: 400;
    font-style: normal;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 19px;
  padding: 30px;
  display: inline;
}

button > #spotify,
button > span {
  vertical-align: middle;
}

#spotify{
  margin-right: 30px;
}

span{
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#accessButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

  #container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
  }

  #logo{
    float: left;
  }

  #navigation{
    /* position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block; */
    cursor: pointer;
    text-align: right;
    
  }
  #space{
    min-height: 30vh;
  }


  h3{
    font-size: 17px;
    position: relative;
    padding-bottom: 10px;
  }

  #foot{
    font-size: 5px;
    color: rgb(128, 128, 128);
    font-family: din-condensed,sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 30px;
    position: block;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    margin-top: 20vh;
  }
 
  #canvas{
    /* z-index: -20; */
    position: absolute;
  }