
@import url('https://use.typekit.net/tnb3vsc.css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}
body{

  background-color: black;
}

#logoLarge{
  margin-top: 20vh;
  text-align: center;
  opacity: 0.045;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#paddTop{
  margin-top: 250px;
  font-size: 300px;
}

::-webkit-scrollbar {
  width: 5px;
} 

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255)(128, 128, 128, 0.493); 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #983FE0; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #983FE0; 
}

h1{
  line-height: 5px;
}

#navigation{
  color: white;
  margin-right: 5vw;
  margin-top: 5vh;
  text-align:right;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

button{
  border: 1px solid #983FE0;
  background: transparent;
  color: white;
  font-size: 19px;
  padding: 30px;
}

#makePurple{
  color: #983FE0;
  display: inline;
}

#subtitleLoad{
  color: #8F8F8F;
  color:white;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}

span{
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}